name: "Release"
on: 
   push:
       tags:       
         - '*'

permissions:
  contents: write

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v2
        with:
            submodules: recursive 
      - run: sudo apt install pandoc texlive-latex-extra
      - run: wget https://github.com/jgm/pandoc/releases/download/3.1.7/pandoc-3.1.7-1-amd64.deb
      - run: sudo dpkg -i pandoc-3.1.7-1-amd64.deb
      - run: echo $PWD
      - run: ls -al ./
      - run: ls -al ../
      - run: pandoc --standalone --self-contained --embed-resources --from markdown --output=How-To-Have-Robots-Use-A-Marble-Slide-${{ github.ref_name }}.pdf README.md
      - run: ls -al .
      
      - name: Create/Update Release and Upload PDF
        uses: softprops/action-gh-release@v1
        with:
          files: How-To-Have-Robots-Use-A-Marble-Slide-${{ github.ref_name }}.pdf
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ github.token }}
